<div class="ra-triangle">
    <span class="p-1">{{b + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-2">{{h + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-3">{{c + " "}}<span class="unit">{{unit}}</span></span>
    <svg viewBox="100 100 250 250" class="svg-ra-triangle">
        <path d="M 131.892 147.026 L 323.243 299.999 L 131.892 299.999 L 131.892 147.026 Z" data-bx-shape="triangle 131.892 147.026 191.351 152.973 0 0 1@103dc504" style="fill: rgb(175, 0, 58); stroke-width: 4px; stroke: rgb(1, 4, 46);"></path>
    </svg>
</div>

