<div class="circle">
    <span class="p-r">{{r + " "}}<span class="unit">{{unit}}</span></span>
    <svg viewBox="90 150 180 180" class="svg-circle">
        <ellipse style="stroke-width: 2px; fill: rgb(175, 0, 58);  stroke: rgb(1, 4, 46);" cx="177.838" cy="230.269" rx="74.595" ry="74.595"></ellipse>
        <path style="fill: rgb(175, 0, 58);  stroke-width: 2px; stroke: rgb(1, 4, 46);" d="M 175.135 230.811 L 253 230.811"></path>
        <ellipse style="stroke: rgb(1, 4, 46); fill: rgb(1, 4, 46);" cx="174.838" cy="230.514" ry="2.703" rx="2.703"></ellipse>
      </svg>
</div>
