<div class="sca-triangle">
    <span class="p-1">{{a + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-2">{{b + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-3">{{c + " "}}<span class="unit">{{unit}}</span></span>
    <svg viewBox="100 120 250 220" class="svg-sca-triangle">
        <path d="M 175.135 170.271 L 332.973 284.324 L 112.432 284.324 L 175.135 170.271 Z" style="fill: rgb(175, 0, 58); stroke-width: 4px; stroke: rgb(1, 4, 46);"></path>
    </svg>
</div>
