<div class="trap">
    <span class="p-1">{{a + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-2">{{b + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-3">{{c + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-4">{{d + " "}}<span class="unit">{{unit}}</span></span>
    <span class="p-5">{{h + " "}}<span class="unit">{{unit}}</span></span>
    <svg viewBox="60 145 300 200" class="svg-trap">
        <path style="fill: rgb(175, 0, 58); stroke-width: 4px; stroke: rgb(1, 4, 46);;" d="M 70.27 328.649 L 140.54 164.324 L 281.08 164.324 L 351.35 328.648 L 70.27 328.649 Z"></path>
        <path style="fill: rgb(175, 0, 58); stroke-width: 2px; stroke: rgb(1, 4, 46); stroke-dasharray: 10px;" d="M 140.54 164.324 L 140.54 328.648"></path>
      </svg>
</div>